<header class="py-4">
	<div class="container-fluid">
	  <a class="" href="#"><%=image_tag "logo.png", class: "img-fluid w-25"%></a>
	  <div class="animated-menu">
			<input type="checkbox" class="menu__toggle">
			<div class="menu__btn">
				<div class="burger"></div>
				<div class="burger"></div>
				<div class="burger"></div>
			</div>
			<div class="menu theme-gradient d-flex align-items-center justify-content-center">
				<ul class="navbar-nav text-center">
					<li class="nav-item">
						<a class="nav-link" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About Us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Portfolio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Testimonials</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact Us</a>
					</li>
				</ul>
			</div> 
		</div>
	</div>
</header>
<button class="btn draw-border">Draw Border</button>

<div class="banner">
	
</div>




 </div>


</body>
</html>
